html {
    --primary-color: blue;
    --dark-color: black;
    --light-color: white;
    --titlesize: 30px;
    --textsize: 15px;
    --textfont: Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: var(--textfont);
    font-size: var(--textsize);
    background-color: var(--light-color);
    color: var(--dark-color);
}



/* LADESCREEN */
#loadingscreen {
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: var(--light-color);
    z-index: 98;
}
#loadingspinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    color: var(--primary-color);
}


/* KOPFZEILE */
header {
    display: flex;
    margin: 20px;
}

#titleimage {
    height: 100px;
    margin-right: 10px;
    
}
#sitetitle {
    margin-top: auto;
    margin-bottom: auto;
    font-size: var(--titlesize);

}
#monitorpreview {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
}

a {
    text-decoration: none;
    color: var(--dark-color);
}
a:hover {
    text-decoration: underline;
    color: var(--primary-color);
}


/* MAIN CONTENT */
main {
    margin: auto;
}

button {
    display: inline-block;
    padding: 7px 15px;
    min-width: calc(3 * var(--textsize));
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: var(--light-color);
    text-align: center;
    text-decoration: none;
    font-size: var(--textsize);
    cursor: pointer;
    transition: filter 0.5s ease;
    filter: brightness(100%);
    transition: box-shadow 0.5s ease;
    box-shadow: 0 0 0 var(--light-color);
}
button:hover {
    filter: brightness(90%);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}
button:active {
    transform: translateY(1px);
}

/* INFO-ADMIN */
.infoText {
    width: 30vw;
}

/* SLIDESHOW-ADMIN */
.slidePreview {
    width: 20vw;
    height: 12vw;
    display: inline-block;
    overflow: hidden;
    align-items: center;

}
.slidePreview img {
    min-height: 100%;
    max-width: 100%;
    max-height: 120%;
    object-fit: cover;
    display: block;
    margin: auto;
}
.slidePreview iframe {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    height: 200%;
    width: 200%;
    object-fit: cover;
    display: block;
    margin: auto;
}

.slideTitle {
    max-width: 50vw;
}


/* POPUP's */
#overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: var(--dark-color);
    opacity: 0.5;
    z-index: 98;
}

.Popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    padding: 20px;
    min-width: 300px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    background-color: var(--light-color);
}

.form-group {
    padding-bottom: 15px;
}
label {
    display: inline-block;
    width: 100%;
    font-family: var(--textfont);
    font-size: var(--textsize);
    font-weight: bold;
}
input {
    width: 90%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: var(--textfont);
    font-size: var(--textsize);
}
.button-container {
    float: right;
}

.mandatory::after {
    content: "*";
    color: red;
}