html {
    --maincolor: #ff0000;
    --color-dark: black;
    --color-light: white;
    --titlesize: 40px;
    --textsize: 20px;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh; /* 100% der Bildschirmhöhe */
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}


/* ALLGEMEINE STYLEDEFINITIONEN */
.textsizehalf {
  font-size: calc(var(--textsize) / 2);
}
.textsizedouble {
    font-size: calc(var(--textsize) * 2);
}


/* BILDERSHOWDARSTELLUNG*/
main {
    flex: 1;
    max-height: 100vh;
    overflow: hidden;
    position: relative;
    margin: auto;
}

.fade {
    animation-name: fade;
    animation-duration: 0.5s;
  }

@keyframes fade {
    from {opacity: 0.5} 
    to {opacity: 1}
  }

main img {
    background-color: var(--color-light);
    min-width: 100%;
    min-height: 100vh;
    max-width: 100vw;
    max-height: 120vh;
    object-fit: cover;
  }

.slideTitle {
    position: absolute;
    top: 20px;
    left: 30px;
    z-index: 2;
    margin: 0;
    font-size: var(--titlesize);
    color: var(--color-dark);
  }
.slideTitle::after {
    content: "";
    position: absolute;
    top: -5300px;
    z-index: -1;
    width: 5000px;
    height: 5000px;
    background-color: var(--color-light);
    opacity: 0.8;
    transform: rotate(-8deg) translateX(-3000px);
  }


/* FUSSZEILE */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    background-color: #ff0000;
    color: white;
  }

table {
    width: 100%;
    padding: 10px;
    bottom: 0;
  }

td {
    vertical-align: top;
    line-height: 150%;
    font-size: var(--textsize);
    min-width: 60px;
  }

.col-9 {
    right: 0;
    text-align: right;
    max-width: 20vw;
  }

.weathersymbol img {
    height: calc(var(--textsize) * 3);
  }

.windarrow img {
    height: calc(var(--textsize) * 1.5);
  }